.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 80px; /* Adds the spinning shark logo */
  }

.header {
  background-color: rgb(206, 205, 205);
}

.head {
  font-size: 9vh;
}

  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); } /* Parameters for the spinning shark animation */
    to { transform: rotate(360deg); }
  }