.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 80px; /* Adds the spinning shark logo */
  }
 
.bg-1 { 
    background-color: rgb(151, 151, 151);
    color: black;
}

  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); } /* Parameters for the spinning shark animation */
    to { transform: rotate(360deg); }
  }