
.trophy { /* Scales the trophy icon to the page */
    height: 5vw;
    min-height: 20px;
}

.highscore { /* Scales the container to the page */
    height: 70vh;
}

.title { /* Scales the title to the page */
    font-size: 4vw; 
} 