
.score {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.oval { 
    background-image: linear-gradient(to bottom right, rgb(0, 88, 7), rgb(25, 146, 1));
    border-radius: 50%;
  }

.msgBox {
    width: 60% !important;
}

.flex-container {
    display: flex;
    justify-content: center;
  }