html, body {
  height: 100%;
}

.center { /* Used to center elements throughou the application*/
  width: 50%;
  margin: 0 auto;
}

.flex-container { /* Adjusts a container to flex around content */
    display: flex;
    justify-content: center;
    
}
